@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply tracking-wider;
    font-family: 'Montserrat', 'Noto Sans TC', -apple-system, BlinkMacSystemFont, 'Segoe UI', 
      Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 
      'Segoe UI Symbol';
  }
}

@layer utilities {
  .shadow-bottom {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  }
  
  .cs-shadow-sm {
    box-shadow: 0px 4px 15px 0px rgba(36, 42, 71, 0.05);
  }
  
  .cs-shadow-lg {
    box-shadow: 0px 12px 20px -4px rgba(36, 42, 71, 0.04),
                0px 4px 20px -4px rgba(36, 42, 71, 0.11);
  }
  
  .cs-border-1_5_p_600 {
    box-shadow: 0 0 0 1.5px theme('colors.primary.600');
  }
  
  .cs-border-1_5_n_950 {
    box-shadow: 0 0 0 1.5px theme('colors.neutral.950');
  }
  
  .cs-border-1_5 {
    box-shadow: 0 0 0 1.5px theme('colors.primary.800');
  }
  
  .cs-border-1_5:hover {
    box-shadow: 0 0 0 1.5px theme('colors.primary.600');
  }
  
  .cs-border-1_5:focus {
    outline: none;
    color: theme('colors.primary.600');
    box-shadow: 0 0 0 1.5px theme('colors.primary.600'),
                0 0 0 4px #CCDAF1;
  }
  
  .cs-border-1_5:disabled {
    outline: none;
    box-shadow: 0 0 0 1.5px theme('colors.neutral.300');
  }
  
  .cs-border-1_5_icon {
    color: theme('colors.neutral.500');
    box-shadow: 0 0 0 1.5px theme('colors.neutral.500');
  }
  
  .cs-border-1_5_icon:hover {
    color: theme('colors.neutral.950');
    box-shadow: 0 0 0 1.5px theme('colors.neutral.950');
  }
  
  .cs-border-1_5_icon:disabled {
    outline: none;
    box-shadow: 0 0 0 1.5px theme('colors.neutral.300');
  }
  
  .cs-border-1_5_tag {
    box-shadow: 0 0 0 1.5px theme('colors.primary.700');
  }
  
  .cs-border-1_5_n200 {
    box-shadow: 0 0 0 1.5px theme('colors.neutral.200');
  }
  
  .cs-border-1_5_n200:hover {
    box-shadow: 0 0 0 1.5px theme('colors.neutral.400');
  }
  
  .serif {
    font-family: 'Noto Serif TC', 'Noto Sans TC', Georgia, Cambria, 
      'Times New Roman', Times, serif;
  }
  
  .sans {
    font-family: 'Noto Sans TC', Georgia, Cambria, 'Times New Roman', 
      Times, serif;
  }
}